<!DOCTYPE HTML><html>
<head>
    <% include head.ejs%>
</head>
<body>
    <% include header.ejs%>
    <img style="margin-bottom:10px; align-self:center" class="active visible-lg img-responsive" src=<%= output2%> />
    <div class="container" style="width:auto" align="center" role="tabpanel">
	<div class="tabbable">
		<ul class="nav nav-pills nav-justified">
	        <li><a href="/" id="abt">About</a></li>
        	<li class="active"><a id="bar" href="/barGraph">2015 Ratings</a></li>
            <li><a id="pie" href="#">Sales Ratio</a></li>
            <li><a id="model" href="#">Compare Models</a></li>
            <li><a id="sankey" href="#">Over Years</a></li>
            <li><a id="bubble" href="#">Top Rated Cars</a></li>        
        </ul>
        <div class="tab-content">
        	<div class="tab-pane active">
                <h2>Car Manufacturers Gasoline Comparison for 2015</h2>
                <div id="container" style="min-width: 310px; width: 700px; height: 400px; margin: 0 auto"></div>
            </div><!-- end tab-pane -->
        </div><!-- end tab-content -->
	</div><!---end tabbable -->
    </div><!-- end container -->
 

    <script type="text/javascript">
        $(function () {
            $('#container').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Stacked column chart'
                },
                xAxis: {
                    categories: ['Audi', 'Mercedes', 'BMW']
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: ''
                    }
                },
                tooltip: {
                    pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
                    shared: true
                },
                plotOptions: {
                    column: {
                        stacking: 'percent'
                    }
                },
                series: [{
                    name: 'Premium',
                    data: [<%= output1[0][2].total_products%>, <%= output1[1][3].total_products%>, <%= output1[2][4].total_products%>]
                }, {
                    name: 'Electricity',
                    data: [<%= output1[0][0].total_products%>, <%= output1[1][0].total_products%>, <%= output1[2][2].total_products%>]
                }, {
                    name: 'Diesel',
                    data: [<%= output1[0][1].total_products%>, <%= output1[1][1].total_products%>, <%= output1[2][3].total_products%>]
                }]
            });
        });  
        
    </script>
      <% include footer.ejs%>
</body>
</html>