<!DOCTYPE HTML><html>
<head>
    <% include head.ejs%>
</head>

<body>
    <% include header.ejs%>
    <img style="margin-bottom:10px; align-self:center" class="active visible-lg img-responsive" src=<%= output2%> />
    <div class="container" style="width:auto" align="center" role="tabpanel">
	<div class="tabbable">
		<ul class="nav nav-pills nav-justified">
	        <li><a href="/" id="abt">About</a></li>
        	<li><a id="bar" href="#">2015 Ratings</a></li>
            <li><a id="pie" href="#">Sales Ratio</a></li>
            <li><a id="model" href="#">Compare Models</a></li>
            <li><a id="sankey" href="#">Over Years</a></li>
            <li class="active"><a id="bubble" href="#">Top Rated Cars</a></li>   
                
        </ul>
        <div class="tab-content">
        	<div class="tab-pane active">
                <h2>Manufacturers with Model Type, Year & Fuel Cost</h2>
                <div id="container" style="min-width: 310px; width: 700px; height: 400px; margin: 0 auto"></div>
            </div><!-- end tab-pane -->
        </div><!-- end tab-content -->
	</div><!---end tabbable -->
    </div><!-- end container -->

   
    <script type="text/javascript">
    $(function () {
        $('#container').highcharts({
    	    chart: {
    	        type: 'bubble',
    	        zoomType: 'xy'
    	    },
    	    
    	    title: {
    	    	text: 'Manufacturers with Model Type, Year & Fuel Cost'
    	    },   
    	    xAxis: {
    	    	title: {
        	    	text: 'Fuel Cost'
        	    }
    	     },
    	     yAxis: {
     	    	title: {
         	    	text: 'Year'
         	    }
     	     },
     	    zAxis: {
     	    	title: {
         	    	text: 'Total Products'
         	    }
     	     },
            plotOptions: {
                bubble: {
                    dataLabels: {
                        enabled: false,
                        style: { textShadow: 'none', color:'black'},
                        formatter: function() {
                            return this.point.name;
                        }
                    },
                    minSize: '10%',
                    maxSize: '30%'
                }
            },            
            series: [
                { 
                    name: 'Mercedes',
                    marker: { fillColor: 'pink' },
                    data: [
                       { name: '<%= merc[0]._id.VClass%>', x: <%= merc[0]._id.fuelCost08%>, y: <%= merc[0]._id.year%>, z: <%= merc[0].total_products%>}, 
                       { name: '<%= merc[1]._id.VClass%>', x: <%= merc[1]._id.fuelCost08%>, y: <%= merc[1]._id.year%>, z: <%= merc[1].total_products%>}, 
                       { name: '<%= merc[2]._id.VClass%>', x: <%= merc[2]._id.fuelCost08%>, y: <%= merc[2]._id.year%>, z: <%= merc[2].total_products%>},
                       { name: '<%= merc[3]._id.VClass%>', x: <%= merc[3]._id.fuelCost08%>, y: <%= merc[3]._id.year%>, z: <%= merc[3].total_products%>},
                       { name: '<%= merc[4]._id.VClass%>', x: <%= merc[4]._id.fuelCost08%>, y: <%= merc[4]._id.year%>, z: <%= merc[4].total_products%>},
                       { name: '<%= merc[5]._id.VClass%>', x: <%= merc[5]._id.fuelCost08%>, y: <%= merc[5]._id.year%>, z: <%= merc[5].total_products%>},
                       { name: '<%= merc[6]._id.VClass%>', x: <%= merc[6]._id.fuelCost08%>, y: <%= merc[6]._id.year%>, z: <%= merc[6].total_products%>}
                    ]
                },
                { 
                    name: 'Audi',
                    marker: { fillColor: 'lightblue' },
                    data: [
                       { name: '<%= audi[0]._id.VClass%>', x: <%= audi[0]._id.fuelCost08%>, y: <%= audi[0]._id.year%>, z: <%= audi[0].total_products%>}, 
                       { name: '<%= audi[1]._id.VClass%>', x: <%= audi[1]._id.fuelCost08%>, y: <%= audi[1]._id.year%>, z: <%= audi[1].total_products%>}, 
                       { name: '<%= audi[2]._id.VClass%>', x: <%= audi[2]._id.fuelCost08%>, y: <%= audi[2]._id.year%>, z: <%= audi[2].total_products%>},
                       { name: '<%= audi[3]._id.VClass%>', x: <%= audi[3]._id.fuelCost08%>, y: <%= audi[3]._id.year%>, z: <%= audi[3].total_products%>},
                       { name: '<%= audi[4]._id.VClass%>', x: <%= audi[4]._id.fuelCost08%>, y: <%= audi[4]._id.year%>, z: <%= audi[4].total_products%>},
                       { name: '<%= audi[5]._id.VClass%>', x: <%= audi[5]._id.fuelCost08%>, y: <%= audi[5]._id.year%>, z: <%= audi[5].total_products%>},
                       { name: '<%= audi[6]._id.VClass%>', x: <%= audi[6]._id.fuelCost08%>, y: <%= audi[6]._id.year%>, z: <%= audi[6].total_products%>}
                    ]
                },
                { 
                    name: 'BMW',
                    marker: { fillColor: 'lightgreen' },
                    data: [
                       { name: '<%= bmw[0]._id.VClass%>', x: <%= bmw[0]._id.fuelCost08%>, y: <%= bmw[0]._id.year%>, z: <%= bmw[0].total_products%>}, 
                       { name: '<%= bmw[1]._id.VClass%>', x: <%= bmw[1]._id.fuelCost08%>, y: <%= bmw[1]._id.year%>, z: <%= bmw[1].total_products%>}, 
                       { name: '<%= bmw[2]._id.VClass%>', x: <%= bmw[2]._id.fuelCost08%>, y: <%= bmw[2]._id.year%>, z: <%= bmw[2].total_products%>},
                       { name: '<%= bmw[3]._id.VClass%>', x: <%= bmw[3]._id.fuelCost08%>, y: <%= bmw[3]._id.year%>, z: <%= bmw[3].total_products%>},
                       { name: '<%= bmw[4]._id.VClass%>', x: <%= bmw[4]._id.fuelCost08%>, y: <%= bmw[4]._id.year%>, z: <%= bmw[4].total_products%>},
                       { name: '<%= bmw[5]._id.VClass%>', x: <%= bmw[5]._id.fuelCost08%>, y: <%= bmw[5]._id.year%>, z: <%= bmw[5].total_products%>},
                       { name: '<%= bmw[6]._id.VClass%>', x: <%= bmw[6]._id.fuelCost08%>, y: <%= bmw[6]._id.year%>, z: <%= bmw[6].total_products%>}
                    ]
                }
            ]            	
    	});
        
    });
        
    </script>
    <% include footer.ejs%>
</body>
</html>