<!DOCTYPE HTML><html>
<head>
   <% include head.ejs%>
    
</head>
<body>
    <% include header.ejs%>
    
    <img style="margin-bottom:10px; align-self:center" class="active visible-lg img-responsive" src=<%= output2%> />
    <div class="container" style="width:auto" align="center" role="tabpanel">
	<div class="tabbable">
		<ul class="nav nav-pills nav-justified">
	        <li><a href="/" id="abt">About</a></li>
        	<li><a id="bar" href="#">2015 Ratings</a></li>
            <li><a id="pie" href="#">Sales Ratio</a></li>
            <li class="active"><a id="model" href="#">Compare Models</a></li>
            <li><a id="sankey" href="#">Over Years</a></li>
            <li><a id="bubble" href="#">Top Rated Cars</a></li>  
      
        </ul>
        <div class="tab-content">
        	<div class="tab-pane active">
                <h2>Cylinder Comparison by Model Type</h2>
                <div id="container" style="min-width: 310px; width: 700px; height: 400px; margin: 0 auto"></div>
            </div><!-- end tab-pane -->
        </div><!-- end tab-content -->
	</div><!---end tabbable -->
    </div><!-- end container -->

   

    <script type="text/javascript">
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Number of Cylinders'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: ['<%= output1[0]._id.model%>',
                             '<%= output1[1]._id.model%>',
                             '<%= output1[2]._id.model%>',
                             '<%= output1[3]._id.model%>',
                             '<%= output1[4]._id.model%>',
                             '<%= output1[5]._id.model%>',
                             '<%= output1[6]._id.model%>',
                             '<%= output1[7]._id.model%>',
                             '<%= output1[8]._id.model%>',
                             '<%= output1[9]._id.model%>',
                             '<%= output1[10]._id.model%>'
                            ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Cylinder'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: '<%= output3%>',
                data: [<%= output1[0]._id.cylinders%>, <%= output1[1]._id.cylinders%>,<%= output1[2]._id.cylinders%>,<%= output1[3]._id.cylinders%>,
                       <%= output1[4]._id.cylinders%>,<%= output1[5]._id.cylinders%>,<%= output1[6]._id.cylinders%>,<%= output1[7]._id.cylinders%>,
                       <%= output1[8]._id.cylinders%>,<%= output1[9]._id.cylinders%>,<%= output1[10]._id.cylinders%>]

            }]
        });
    });
        
    </script>
    <% include footer.ejs%>
</body>
</html>